streamlit
langchain
langchain-groq
langchain-classic
langchain-community
dotenv
faster-whisper
sounddevice
scipy
faiss-cpu
sentence-transformers
gtts
pydantic
langgraph
streamlit_mic_recorder
kokoro
soundfile
IPython
torchvision
faster_whisper